<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="indexStyles">
    <section>
      <article class="jumbotron">
        <div class="container text-center">
          <h1>Actigraph</h1>
          <h2>The Activity Grapher</h2>

        <div class="group">
          <a href="/login" class="btn home-btn" role="button">Login</a><br/>
          <a href="/register" class="btn home-btn2" role="button">Register</a>
        </div>

        </div>
        
      </article>
    </section>
  </body>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</html>