<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Graphy</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
		<style>
			.legend {
				font-size: 12px;
			}
			rect {
				stroke-width: 2;
			}
		</style>
	</head>
	<body>
		<form actiion="./api/charts" id="myForm">
			<p>Chart Name </p>
			<input id="chtNam" type="text" name="chartName"/>
			<p>Activity Name </p>
			<input id="nam" type="text" name="activity"/>
			<p>Hours </p>
			<input id="hours" type="text" name="duration"/>
			<button id="save">Save</button>
		</form>
			<button type="rerender" id="dat">Add</button>
			<button type="render" id="reset">Reset</button>
			<button type="indicat" id="mongo">Mongo</button>
			<select id="dropdown">

			</select>
			<button id="load">Load</button>
			<div id="chart"><div>
			<div id="chartTwo"><div>
		<script >
			
			var $chartName = $(chtNam);
			var $activityName = $(nam);
			var $hours = $(hours);
			var $chartTwo = $(chartTwo);
			//Dropdown Vars
			var $dropdown = $(dropdown);
			var namelist = [];
			var optList = [];
			//Load Graph Vars
			var chartVals = [];

			var dataset = [];
			var width = 360;
			var height = 360;
			var radius = Math.min(width, height) / 2;

			var color = d3.scale.category20();

			var svg = d3.select('#chart')
				.append('svg')
				.attr('width', width)
				.attr('height', height)
				.append('g')
				.attr('id', "pic")
				.attr('transform', 'translate(' + (width / 2) + ',' + (height / 2) + ')');

			var arc = d3.svg.arc()
				.outerRadius(radius);

			var pie = d3.layout.pie()
				.value(function(d) { return d.duration; })
				.sort(null);

			
			function mkPic() {
				
				$(pic).children().remove();
				var path = svg.selectAll('path')
				.data(pie(dataset))
				.enter()
				.append('path')
				.attr('d', arc)
				.attr('fill', function(d, i) {
					return color(d.data.activity)
				});
			} 

			function addDat() {
				var dPop = {};
				dPop.chartName = $(chtNam).val();
				dPop.activity = $(nam).val();
				dPop.duration = Number($(hours).val());
				dataset.push(dPop);
				console.log(dataset);
				
				mkPic();
				
			}
			function resetChart() {
				dataset.length = 0;
				$(pic).children().remove();
			}


			function dupLess(arr) {
				var i,
			        len=arr.length,
				    obj={};

				for (i=0;i<len;i++) {
			    	obj[arr[i]]=0;
			  	}
			    for (i in obj) {
			    	optList.push(i);
			    }
			}
			function mkOpt(arr) {
				for(var i = 0; i <= arr.length; i++) {
					$(dropdown).append("<option>" + arr[i] + "</option>")
				}
			}

			$.ajax({
				type: 'GET',
				url: 'api/charts',
				success: function(chartdat) {
					var i,
					j,
					k,
				    obj={};

					for(var i = 0; i <= chartdat.length - 1; i++){
						console.log(namelist.push(chartdat[i].chartName));
					}
					for (j=0;j<namelist.length;j++) {
			    		console.log(obj[namelist[j]]=0);
				  	}
				    for (j in obj) {
				    	optList.push(j);
				    }
				    for(k = 0; k <= optList.length - 1; k++) {
						$(dropdown).append("<option>" + optList[k] + "</option>");
					}
					
				}
			})

			
			$(save).on('click', function(){
				var JSONObject = {"chartName": $chartName.val(), "activity": $activityName.val(), "duration": $hours.val()};

				$.ajax({
					type: "POST",
					url: 'api/charts',
					dataType: 'json',
					data: JSONObject,
					success: function(newChart) {
						console.log("We win");
					},
					error: function(){
						alert('error posting');
					}
				});

			});

			$(load).on('click', function() {
				$.ajax({
					type: "GET",
					url: 'api/charts',
					success: function(loadDat) {
						var popdat = {};
						chartVals.length = 0;
						dataset.length = 0;
						for(var n = 0; n <= loadDat.length - 1; n++){
							if(loadDat[n].chartName == $(dropdown).val()){
								dataset.push(loadDat[n]);
								mkPic();
							}
							
						}

					}
				});
			});
			$(dat).click(addDat);
			$(reset).click(resetChart);



		</script>
	</body>
</html>