<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Graphy</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/0.11.1/typeahead.bundle.min.js"></script>


	</head>
	<body>
		<header class="headStyles">
			<h1 class="left" id="username" >Welcome Guest </h1>
			<h1 class="headStyle">Actigraph</h1>
			<h2>The Activity Grapher</h2>
			<p>Start by naming your chart. </br>Timescales like days and weeks work well as a naming convention. </br>Use the save button to save and add data to your charts. </br>(Just use the same name when you save data to add it to an existing chart.) </br>Use the Add button to render charts without saving data</br> Use the reset button to remove information from the rendering area. </br>Use the drop down to select a saved chart to either load or delete using the indicated buttons. </p>
		</header>
		<section class="inpStyles">
			<form actiion="./api/charts" id="myForm" class="formStyles">
				<header class="headStyles"></header>
				<p>Type in the name of your chart </br><i>e.g. mm/dd/yyyy, Feb 2016</i> </p>
				<input id="chtNam" class="typeahead form-control" type="text" name="chartName"/>
				<p>Add an activity </p>
				<input id="nam" type="text" name="activity"/>
				<p>Time spent in hours</p>
				<input id="hours" type="text" name="duration"/>
			</form>

				

			<article class="api-btn">
				<button id="add" class="btn lefter">Add</button>
				<button type="indicat" id="reset" class="btn lefter">Reset</button>
				

			</article>
			

		</section>
		<section class="allChart">
			<header class="chrt1Head"></header>
			<div id="chart" class="chartStyles">
			</div>
			<div id="chartTwo" class="chartStyles">
			</div>
		</section>
		
		<script src="/javascripts/try.js"></script>

		
	</body>
</html>
